main {
    float: left;
    width: 70%;
}
aside {
    float: right;
    width: 30%;
    height: 750
    px;
}
footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.clearfix {
    clear: both;
}